header{
    background-image: url(img/pattern.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-color: #4EA0FF;
    padding: 20px;
}

#logo{
    left: 0;
    bottom: 0;
    width: 15%;
}

h1{
    margin-bottom: 0;
}

#speciale1{
    color: #20A9E5;
}

.sottotitolo{
    color: #808080;
    margin: 0;
}

.piccolo{
    font-size: small;
    margin: 0;
}

.descrizione{
    display: block;
    font-size: x-small;
}

.highlight{
    background-color: yellow;
}